<a href="https://colab.research.google.com/github/gauravvxv/Employee-Analytics-Dashboard/blob/main/Notebook/Staff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò **Employee Data Analysis & Visualization using Python**

This project focuses on analyzing and visualizing employee data using Python. The objective is to clean raw data, generate meaningful insights, and prepare it for further use in SQL and Power BI dashboards. The dataset includes employee attributes such as name, gender, department, salary, employment type, and join date.

Through this analysis, we aim to:



*   Perform data cleaning and transformation using Python (`pandas`).
*   Explore employee trends such as gender distribution, salary levels, and department breakdown.
*   Identify top earners and salary distribution patterns.
*   Visualize insights using matplotlib and seaborn.

## üîß **1. Tools & Libraries Used:**



*   Python

*   pandas for data manipulation

*   matplotlib & seaborn for visualization

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## üè¨ **2. Load Dataset**

In [5]:
path = 'https://raw.githubusercontent.com/gauravvxv/Employee-Analytics-Dashboard/main/Data/staff-dirty-dataset.xlsx'

df = pd.read_excel(path)

In [6]:
df.head()

,Emp ID,Name,Gender,Department,Salary,Start Date,FTE,Employee type,Work location
0,PR00147,Minerva Ricardot,Male,???,120000.00,12-Nov-18,1.0,Permanent,Remote
1,PR04686,Oona Donan,Female,Business Development,98000.00,2019-09-02 00:00:00,0.9,Permanent,"Seattle, USA"
2,SQ04612,Mick Spraberry,Female,Services,120000.00,2020-03-12 00:00:00,0.9,Permanent,Remote
3,VT01803,Freddy Linford,Female,Training,93128.34,"Mar 5, 2018",1.0,Fixed Term,"Seattle, USA"
4,TN02749,Parasuramudu Jamakayala,Female,Training,57002.02,2-Apr-18,0.7,Permanent,"Hyderabad, India"

## üßê **3. Initial Data Exploration**

In [7]:
df.head()

,Emp ID,Name,Gender,Department,Salary,Start Date,FTE,Employee type,Work location
0,PR00147,Minerva Ricardot,Male,???,120000.00,12-Nov-18,1.0,Permanent,Remote
1,PR04686,Oona Donan,Female,Business Development,98000.00,2019-09-02 00:00:00,0.9,Permanent,"Seattle, USA"
2,SQ04612,Mick Spraberry,Female,Services,120000.00,2020-03-12 00:00:00,0.9,Permanent,Remote
3,VT01803,Freddy Linford,Female,Training,93128.34,"Mar 5, 2018",1.0,Fixed Term,"Seattle, USA"
4,TN02749,Parasuramudu Jamakayala,Female,Training,57002.02,2-Apr-18,0.7,Permanent,"Hyderabad, India"

In [8]:
df.tail()

,Emp ID,Name,Gender,Department,Salary,Start Date,FTE,Employee type,Work location
271,VT04905,Suchira Bhanupriya Tapti,Female,Human Resources,29808.07,10-Jul-18,0.3,Temporary,"Hyderabad, India"
272,PR04366,Carry Loblie,Female,Sales,47551.89,2019-01-03 00:00:00,1.0,Permanent,"Auckland, New Zealand"
273,TN03032,Fullara Sushanti Mokate,Female,Research and Development,39700.82,2021-01-07 00:00:00,0.8,Permanent,"Chennai, India"
274,TN04775,Hridaynath Tendulkar,Female,Legal,31089.22,2019-11-07 00:00:00,1.0,Fixed Term,"Chennai, India"
275,SQ03625,Fidela Artis,Female,Sales,78020.39,2020-03-09 00:00:00,1.0,Permanent,Remote

In [9]:
df.shape

(276, 9)

In [10]:
df.columns

Index(['Emp ID', 'Name', 'Gender', 'Department', 'Salary', 'Start Date', 'FTE',
       'Employee type', 'Work location'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Emp ID         276 non-null    object
 1   Name           276 non-null    object
 2   Gender         268 non-null    object
 3   Department     276 non-null    object
 4   Salary         265 non-null    float64
 5   Start Date     276 non-null    object
 6   FTE            276 non-null    float64
 7   Employee type  276 non-null    object
 8   Work location  276 non-null    object
dtypes: float64(2), object(7)
memory usage: 19.5+ KB

In [14]:
df.describe()

              Salary         FTE
count     265.000000  276.000000
mean    72467.715321    0.893116
std     27110.653975    0.223175
min         0.000000    0.200000
25%     52270.220000    1.000000
50%     72876.910000    1.000000
75%     92943.890000    1.000000
max    120000.000000    1.000000

In [16]:
df.dtypes

Emp ID            object
Name              object
Gender            object
Department        object
Salary           float64
Start Date        object
FTE              float64
Employee type     object
Work location     object
dtype: object

### **üîÑ Data Preprocessing Steps**

After exploring the dataset, I observed that there are missing values in the Gender, Department, and Salary columns.

First, I will split the Full Name column into First Name and Last Name.

Then, I will handle the missing values appropriately.

I will also create a new column called Join Year by extracting the year from the Start Date column.

Finally, using the FTE column, I will create a new column named Work Type, where:



*   If FTE == 1, the value will be Full Time

* If FTE < 1, the value will be Part Time

## üßπ **4. Data Cleaning**